@font-face {
    font-family: "ArimaMaduraiRegular";
    src: local("ArimaMadurai-Regular"), url(../assets/fonts/ArimaMadurai-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ArimaMadurai";
    src: local("ArimaMadurai-ExtraBold"), url(../assets/fonts/ArimaMadurai-ExtraBold.ttf) format("truetype");
}

