<div class="container contenu">
    <div>
        Réserves Naturelles de France a centralisé les données tourbières du réseau. <br><br>
        Il vous faut un compte pour y accéder (connectez vous en cliquant sur le symbole <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon> en haut à droite)
        <br><br>
        Si vous n'avez pas de compte RNF, vous pouvez en faire la demande (en cochant "application tourbières")
        <br>
        <br>
        <div class="inscription-div">
            <span class="inscription"><a href="http://plateformes.reserves-naturelles.org/inscription" target="_blank">
                    <fa-icon [icon]="['fas', 'user-plus']"></fa-icon> INSCRIVEZ-VOUS DÈS MAINTENANT EN CLIQUANT ICI
                </a></span>
        </div>
        <br>
        Votre inscription sera modérée par un administrateur, seuls les membres du réseau peuvent accéder à cette application. <br><br>
    </div>
</div>