.contenu {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin-top: 20px;
    text-align: justify;
}

.contenu a {
    font-weight: 600;
    color: #0B885D;
    text-align: center;
}

.inscription {
    background-color: #DC8063;
    font-weight: 600;
    padding: 5px;
}

.inscription-div {
    text-align: center;
}

.inscription a {
    color: white;
}